html,
table, th, td {
  border: 1px solid white;
  padding: 50px;
}
table {
  border-spacing: 15px;
}


.box {
	width:1200px;
	height:219px;
		margin-top:35px;
	margin-bottom:20px;
	margin-left: 4px;
	margin-right:8px;
	

}	
.red{
	background:#FFFFFF;
}
.lightpink{
	background:#F5C6D6;
	margin-top:15px;
	margin-bottom: 30px;
	margin-left: 4px;
	margin-right: 30px;
	box-sizing: 80px;
	
	
	
}
.darkpink{
	background:#EE2E84;
	margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 8px;
	margin-right: 8px;
	
}	
	
.lightblue{
	background-color:#85CFD8;
	margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 8px;
	margin-right: 8px;
		

}

.green{
	background-color:#8DC63F;
	margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 8px;
	margin-right: 8px;
	
	
}

.orangebrown{
	background-color:#E76E34;margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 8px;
	margin-right: 8px;
	
	
}
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}



/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   margin-left: 300px;
  width:1000px;    
    
   
   
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */                                          
.footer {                                              
	
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}	
img {
	 float: left;
	 padding :30px;
	
}
article {
	 vertical-align:middle;
	 margin-left: 20px;
 
}


   